/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #0A7;
//$input-color: #292b2c; // $gray-dark
$color-mode-type: media-query;
$link-color-dark: $primary;
$link-decoration: none;
$link-hover-decoration: underline;

@import "bootstrap";

body > .container {
  width: 100%;
  max-width: 44em;
}

body#home > .container {
  max-width: inherit;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  .home-top,
  .home-bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-top {
    flex-grow: 2;
  }
}

/*
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}
*/

@include media-breakpoint-down(md) {
  .navbar.search-focused {
    .navbar-brand,
    .navbar-nav {
      display: none;
    }
  }
}

.turbolinks-progress-bar {
  background-color: lighten($primary, 25%);
}

span.twitter-typeahead {
  display: block !important;
  width: 100%;

  // Fix background color on selection in input and suggestions
  .tt-input::selection,
  .tt-cursor {
    color: inherit !important;
    background-color: $input-focus-border-color !important;
  }

  .tt-hint {
    color: $input-placeholder-color;
  }

  .tt-menu {
    width: 100%;
    @extend .dropdown-menu;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor {
     @extend .dropdown-item.active;
  }
}

// Harmonize background color of selection in input
input::selection {
  background-color: $input-focus-border-color !important;
}
